.side_bar{
    box-shadow: 4px 0px 4px 0px lightgrey;
    width: 350px;
    margin-left: 153px;
   }

.search{
    background-color: white !important;
    border: 1px solid grey !important;
    color: black;
    font-size: 10pt;
}