.profile_form_area {
    display: block;
    border-radius: 8px;
    margin: auto;
    margin-top: 5%;
    width: 380px;
    height: 450px;
   
}

.profile_form_area input {
    display: block;
    border: none;
    border-bottom: none;
    margin: auto;
	height:50px;
    font-size:20px;
    text-align: center;
   
}
.prfl_username::-webkit-input-placeholder{
    color: white;
    font-weight: bold;
    color:rgb(0,72,83);
}
.prfl_email::-webkit-input-placeholder{
    color: white;
    color:rgb(0,72,83);
}

.btn_submit{
   
    margin: auto;
    background-color: rgb(251, 105, 2)!important;
    width: 120px;
    height: 40px;
    border: none;
	color:white;
    text-align:center;
    
}

#prfl_login{
    margin-top: 25px;
    box-shadow: 1px 1px 8px 2px grey; 
    
}

.glyphicon {
    font-size: 35px;
}

.user_pic{
    border-radius: 100%;
    height: 220px;
    width: 220px;
    box-shadow: 1px 1px 8px 2px grey; 
    padding: 15px;
}