.form_area {
    display: block;
    border-radius: 8px;
    margin: auto;
    margin-top: 5%;
    width: 380px;
    height: 450px;
   
}

.form_area input {
    display: block;
    border: none;
    border-bottom: none;
    width: auto;
    margin: auto;
    margin-bottom: 10px;
	height:50px;
	font-size:20px;
}

.btn{
   
    margin: auto;
    margin-top: 50px;
    background-color: rgb(251, 105, 2)!important;
    width: 120px;
    height: 40px;
    border: none;
	color:white;
	text-align:center;
}

.glyphicon {
    font-size: 35px;
}
